*, *::before, *::after{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

.container{
    padding: 15px;
}

.answers{
    display: grid;
    grid-template-columns: repeat(1,auto);
    gap: 10px;
    margin: 15px 0px;
}

.scoreboard{
    position: relative;
    bottom: 6rem;
    right: 23rem;

}
.timer{
    position: relative;
    bottom: 6rem;
    left: 3rem;
    
}